################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/Currency.API/.vs/Currency.API
/Currency.API/bin/Debug/net8.0
/Currency.API/obj
/Currency.API.Application/bin/Debug/net8.0
/Currency.API.Application/obj
/Currency.API.Utilities/bin/Debug/net8.0
/Currency.API.Utilities/obj
/Currency.Utilities/obj
/Currency.API.Domain/bin/Debug/net8.0
/Currency.API.Domain/obj
/Currency.API.Infrastructure/bin/Debug/net8.0
/Currency.API.Infrastructure/obj
/Currency.API/.vs/ProjectEvaluation
/Currency.API.UnitTest/bin/Debug/net8.0
/Currency.API.UnitTest/obj
